.websites-pricing-container {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: column;
}
.websites-pricing-container {
    background-size: cover;
    background-image: url('../../../imgs/bgs/4_prices_bg.png');
}
.websites-pricing-header-text {
    margin-right: 10rem;
    margin-left: 10rem;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 10rem;
}
.websites-pricing-header-tiers-tiers {
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.websites-pricing-header-tiers-tiers-alt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.websites-pricing-header-tier-normal {
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);
    border: 3px solid var(--primary);
    padding-top: 45px;
    padding-bottom: 45px;
    border-radius: 15px;
    background-color: rgba(23, 18, 45, 1);
    transition: all 0.5s ease;
}
.websites-pricing-header-tier-normal:hover {
    background-color: rgba(23, 18, 45, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.websites-pricing-header-tier-heading-buttons-normal {
    width: 80%;
    background-color: var(--primary-light);
    color: white;
    border-radius: 5px;
    font-family: satoshiBold;
    padding: 10px 20px;
    margin-top: 2rem;
    border: 3px solid transparent;
    transition: opacity 0.3s ease;
    cursor: pointer;
    margin-right: 10%;
    margin-left: 10%;
}
.websites-pricing-header-tier-heading-buttons-normal:hover {
    opacity: 0.65;
}
.websites-pricing-header-heading {
    font-size: 100px;
    line-height: 100px;
    margin-bottom: 10px;
    font-family: satoshiBold;
}
.websites-pricing-header-tier-heading {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 10px;
    font-family: satoshiBold;
    padding-right: 1rem;
    padding-left: 1rem;
}
.websites-pricing-header-tier-heading-price {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    font-family: satoshiBold;
    padding-right: 1rem;
    padding-left: 1rem;
}
.websites-pricing-links:hover {
    opacity: 0.75;
}
.websites-pricing-links {
    opacity: 1;
    transition: opacity 0.3s ease;
    text-decoration: none;
}
.websites-pricing-header-tiers {
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}
@media (max-width: 1260px) {
    .websites-pricing-header-text {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    .websites-pricing-header-tiers {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}
@media (max-width: 1080px) {
    .websites-pricing-header-text {
        margin-right: 5rem;
        margin-left: 5rem;
    }
    .websites-pricing-header-tiers {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}
@media (max-width: 960px) {
    .websites-pricing-header-text {
        margin-right: 2rem;
        margin-left: 2rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 0;
    }
    .websites-pricing-header-tiers {
        margin-right: 2rem;
        margin-left: 2rem;
        text-align: center;
    }
    .websites-pricing-header-heading {
        font-size: 36px;
        margin-bottom: 0;
    }
    .websites-pricing-header-tier-normal {
        width: 100%;
        margin-top: 2rem;
    }
    .websites-pricing-header-tier-heading {
        font-size: 36px;
        margin-bottom: 0;
    }
    .websites-pricing-header-tier-price {
        font-size: 24px;
        margin-bottom: 0;
    }
    .websites-pricing-header-para {
        margin-top: 0;
    }
}
@media (max-width: 768px) {
    .websites-pricing-header-text {
        margin-right: 2rem;
        margin-left: 2rem;
        text-align: center;
        padding-top: 5rem;
        padding-bottom: 0;
    }
    .websites-pricing-header-tiers {
        margin-right: 2rem;
        margin-left: 2rem;
        text-align: center;
    }
    .websites-pricing-header-para {
        margin-top: 0;
    }
}