.prices-header {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    margin-right: 5rem;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0 0 10px 10px var(--primary);
    margin-top: 50px;
    margin-left: 5rem;
    background-color: rgba(23, 18, 45, 0.9);
}

.pricing-container {
    display: flex;
    margin-right: 2rem;
    margin-left: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.pricing-item {
    background-color: rgba(0,0,0,0.9);
    width: 275px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-direction: column;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    height: fit-content;
    border-radius: 15px;
    transition: opacity 0.5s ease;
}
.pricing-item:hover {
    opacity: 0.65;
}

.pricing-header-heading {
    font-family: satoshiBold;
    font-size: 52px;
}
.pricing-modal-heading {
    font-family: satoshiBold;
    margin-bottom: 5px;
    font-size: 52px;
}
.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
    .prices-header {
        margin-right: 2rem;
        margin-left: 2rem;
    }
    .pricing-header-heading {
        font-size: 36px;
    }
    .pricing-item {
        width: 225px;
    }
    .pricing-margin-alt {
        margin-right: 25px;
        margin-left: 25px;
        text-align: center;
    }
}